<div class="login-datos_main-formulario">
  <h3>Inicia sesión</h3>
  <form action="">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="text" matInput placeholder="Ingresar usuario" />
      <mat-icon matSuffix>email</mat-icon>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Ingresar contraseña" />
      <mat-icon matSuffix>password</mat-icon>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <app-button></app-button>
  </form>
</div>

