.login-datos_main-formulario {
  & h3 {
    color: var(--color-principal-1);
    margin: .4rem 0;
  }

  & form {
    display: flex;
    flex-direction: column;

    & mat-form-field {
      width: 100%;
    }

  }
}

/* Escritorio extra grande */
@media only screen and (min-width: 1200px){

}
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

}

/* Teléfonos */
@media only screen and (max-width: 575px) {
  .login-datos_main-formulario {
    & h3 {
      color: var(--color-principal-1);
      margin: .4rem 0;
    }

    & form {
      display: flex;
      flex-direction: column;

      & mat-form-field {
        width: 100%;
      }

    }
  }
}
