<section class="dashboard_container">
  <section class="dashboard-ingreso-datos">
    <header class="dashboard-ingreso-datos_header">Noddux</header>
    <main class="dashboard-ingreso-datos_main">
      <h1>Impulsa tu negocio con un sistema que te lo permita</h1>
      <p>
        Ullamco aliquip aliquip sit officia est cupidatat culpa. Cupidatat esse
        aliquip fugiat mollit velit excepteur Lorem.
      </p>
      <app-auth-datos />
    </main>
  </section>
  <div class="dashboard-imagen-principal">
    <img src="../../../../../../assets/images/bg-login.png" alt="" />
  </div>
</section>
