<header>
  <div class="header_left">NODDUX | Punto de venta</div>
  <div class="header_center">
    <div class="header_center-datos">
      <h5>Fecha turno</h5>
      <h5>06/03/2023</h5>
    </div>
    <div class="header_center-datos">
      <h5>N° turno</h5>
      <h5>1</h5>
    </div>
  </div>
  <div class="heder_rigth">
    <h4>ALICIA SANGAY TERRONES <i class="uil uil-user"></i></h4>
    <button mat-flat-button type="button" title="''"> <i class="uil uil-bars"></i> </button>
  </div>
</header>
