<div class="item-venta-container">
  <div class="cantidad">
    <app-button-items-listado-vender [icono]="iconoRestar"/>
    <button>10</button>
    <app-button-items-listado-vender [icono]="iconoSumar"/>
  </div>
  <div class="descripcion">
    <div class="descripcion_detalle">
      <a href="">EL OLIVAR ACEITE VIRGEN X 500 ML.</a>
      <span>EL OLIVAR ACEITE VIRGEN X 500 ML.</span>
    </div>
    <div class="descripcion_precio"> <span>Precio S/ 25.00</span></div>
  </div>
  <div class="precio">
    <span>S/25.00</span>
    <app-button-items-listado-vender [icono]="iconoCancelar"/>
  </div>
</div>
