<section class="productos-container">
  <header class="productos-container_header">
    <div class="header_search-container">
      <i class="uil uil-search"></i>
      <input type="search" placeholder="Ingrese nombre o código de barras de producto" name="" id="">
    </div>
  </header>
  <main class="productos-container_main">
    <!--LISTA FAMILIA Y PRODUCTOS-->
    <div class="lista-productos_familia">
      <h2>Familia</h2>
      <div class="lista-productos_productos">
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
      </div>
    </div>

     <!--LISTA FAMILIA Y PRODUCTOS-->
     <div class="lista-productos_familia">
      <h2>Familia</h2>
      <div class="lista-productos_productos">
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
      </div>
    </div>

     <!--LISTA FAMILIA Y PRODUCTOS-->
     <div class="lista-productos_familia">
      <h2>Familia</h2>
      <div class="lista-productos_productos">
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
      </div>
    </div>

     <!--LISTA FAMILIA Y PRODUCTOS-->
     <div class="lista-productos_familia">
      <h2>Familia</h2>
      <div class="lista-productos_productos">
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
      </div>
    </div>

     <!--LISTA FAMILIA Y PRODUCTOS-->
     <div class="lista-productos_familia">
      <h2>Familia</h2>
      <div class="lista-productos_productos">
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
      </div>
    </div>

     <!--LISTA FAMILIA Y PRODUCTOS-->
     <div class="lista-productos_familia">
      <h2>Familia</h2>
      <div class="lista-productos_productos">
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
      </div>
    </div>

     <!--LISTA FAMILIA Y PRODUCTOS-->
     <div class="lista-productos_familia">
      <h2>Familia</h2>
      <div class="lista-productos_productos">
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
      </div>
    </div>

     <!--LISTA FAMILIA Y PRODUCTOS-->
     <div class="lista-productos_familia">
      <h2>Familia</h2>
      <div class="lista-productos_productos">
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
      </div>
    </div>

     <!--LISTA FAMILIA Y PRODUCTOS-->
     <div class="lista-productos_familia">
      <h2>Familia</h2>
      <div class="lista-productos_productos">
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
      </div>
    </div>

     <!--LISTA FAMILIA Y PRODUCTOS-->
     <div class="lista-productos_familia">
      <h2>Familia</h2>
      <div class="lista-productos_productos">
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
      </div>
    </div>

     <!--LISTA FAMILIA Y PRODUCTOS-->
     <div class="lista-productos_familia">
      <h2>Familia</h2>
      <div class="lista-productos_productos">
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
      </div>
    </div>

     <!--LISTA FAMILIA Y PRODUCTOS-->
     <div class="lista-productos_familia">
      <h2>Familia</h2>
      <div class="lista-productos_productos">
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
      </div>
    </div>

     <!--LISTA FAMILIA Y PRODUCTOS-->
     <div class="lista-productos_familia">
      <h2>Familia</h2>
      <div class="lista-productos_productos">
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
      </div>
    </div>

    <!--LISTA FAMILIA Y PRODUCTOS-->
    <div class="lista-productos_familia">
      <h2>Familia</h2>
      <div class="lista-productos_productos">
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
        <app-tarjeta-producto-component />
      </div>
    </div>

  </main>
</section>
